/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}



* {
    box-sizing: border-box;
    
}
body{
    min-width: 100vw;
    min-height: 100vh;
}

.score-board{
    display: flex;
    justify-content: space-around;
    font-size: 34px;
    border: 1px solid gray;
    border-radius: 15px;
    
}
.reset-btn{
    position: relative;
    
    width: 15vw;
    min-width: 100px;
    font-size: 28px;
}

.board{
    position: relative;
    top: 10vh;
    display:grid;
    height: 35vh;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    grid-template-columns: repeat(3,1fr);
}


.board-container{
    width: 100%;
    height: calc(100% - 67px);
    
}

.board :hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.100);
    box-shadow: black;
    -webkit-box-shadow: -2px -1px 6px 0px rgba(48, 50, 50, 0.8);
    -moz-box-shadow:    -2px -1px 6px 0px rgba(48, 50, 50, 0.8);
    box-shadow:         -2px -1px 6px 0px rgba(48, 50, 50, 0.8);
}

.box-left{
    border-right: 2px solid;
    border-bottom: 2px solid;
    background-color: rgba(255, 255, 255, 0.400);
    min-width: 120px;
    min-height: 120px;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;

}

.box{
    background-color: rgba(255, 255, 255, 0.400);
    border-bottom: 2px solid;
    min-width: 120px;
    min-height: 120px;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;
}

.box-right{
    background-color: rgba(255, 255, 255, 0.400);
    border-left: 2px solid;
    border-bottom: 2px solid;
    min-width: 120px;
    min-height: 120px;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;
}



#last-left{
     border-bottom: none;
}
#last-bottom{
    border-bottom: none;
}
#last-right{
    border-bottom: none;
}


#myBtn{
  position: relative;
  left: 5px;
  top:5px;
  
}

.container{
    position: relative;
    top: 3vh;
    width: 90vw;
    height: 75vh;
    left: 5vw;
    min-width: 320px;
    background-color: rgba(128, 128, 128, 0.145);
    box-sizing: border-box;
    border-radius: 15px;
    min-width: 320px;
}


.score-title{
  font-family: 'Russo One', sans-serif;
}


.icon{
  width: 40px;
  height: 40px;
}























 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 45%;
    width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .settings-buttons{
      
      height: 100%;
      width: 100%;
      
  }

  .btn{
      font-size: 35px;
      height: 50px;
      position: relative;
      top: 20px;
      width: 100%;

  }


  
  #player-versus-computer{
    position: relative;
    top: 40px;
  }

 
  #choice-box-computer{
    position: relative;
    top: 80px;
    padding: 5px;
    height: 100%;
    width: 100%;
    
    
  }

  #easyDifBtn{
    position: relative;
    color: green;
    font-size: 25px;
    width: 100%;
    height: 40px;
    top: 10px;
    
  
  }
  #mediumDifBtn{
    position: relative;
    color:rgb(255, 255, 0);
    font-size: 25px;
    width: 100%;
    height: 40px;
    top: 20px;
    
  }
  #hardDifBtn{
    position: relative;
    color: red;
    font-size: 25px;
    width: 100%;
    height: 40px;
    top: 30px;

  }





/*phone sizes*/



@media only screen and (max-width: 414px)
{
  .board{
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    left: 15%;
    height: 20vh;
    width: 10vw;
  }

  .box-left{
   
    border-right: 2px solid;
    border-bottom: 2px solid;
    background-color: rgba(255, 255, 255, 0.755);
    min-width: 90px;
    min-height: 90px;
    
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;

}

.box{
    background-color: rgba(255, 255, 255, 0.755);
    border-bottom: 2px solid;
    min-width: 90px;
    min-height: 90px;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;
}

.box-right{
    background-color: rgba(255, 255, 255, 0.755);
    border-left: 2px solid;
    border-bottom: 2px solid;
    min-width: 90px;
    min-height: 90px;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;
  }


  .score-board{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 15px;
    
}

.score-title{
  margin-top: 4px;
  margin: 5px;
}

.reset-btn{
    position: relative;
    
    
    min-width: 80px;
    font-size: 19px;
}



 
 .modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  height: 50%;
  width: 70%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
 

.btn{
    font-size: 30px;
    height: 40px;
    position: relative;
    top: 20px;
    width: 100%;

}



#player-versus-computer{
  position: relative;
  top: 40px;
}


#choice-box-computer{
  position: relative;
  top: 40px;
  padding: 5px;
  height: 70px;
  width: 100%;
}

.icon{
  width: 20px;
  height: 20px;
}





}


@media only screen and (max-width:375px){
  .board{
    position: relative;
    left: 29px;
    height: 20vh;
    width: 10vw;
  }

  .box-left{
   
    border-right: 2px solid;
    border-bottom: 2px solid;
    background-color: rgba(255, 255, 255, 0.755);
    min-width: 90px;
    min-height: 90px;
    
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;

}

.box{
    background-color: rgba(255, 255, 255, 0.755);
    border-bottom: 2px solid;
    min-width: 90px;
    min-height: 90px;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;
}

.box-right{
    background-color: rgba(255, 255, 255, 0.755);
    border-left: 2px solid;
    border-bottom: 2px solid;
    min-width: 90px;
    min-height: 90px;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:90px ;
  }


  .score-board{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 15px;
    
}

  .score-title{
    margin-top: 4px;
    margin: 5px;
  }

.reset-btn{
    position: relative;
    
    
    min-width: 80px;
    font-size: 19px;
}




 
 .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  height: 55%;
  width: 70%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
 

.btn{
    font-size: 35px;
    height: 40px;
    position: relative;
    top: 20px;
    width: 100%;

}



#player-versus-computer{
  position: relative;
  top: 40px;
}


#choice-box-computer{
  position: relative;
  top: 40px;
  padding: 5px;
  height: 70px;
  width: 100%;
}

.icon{
  width: 20px;
  height: 20px;
}





}












  












