/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}



* {
    box-sizing: border-box;
    
}
body{
    min-width: 100vw;
    min-height: 100vh;
}

.score-board{
    display: flex;
    justify-content: space-around;
    font-size: 34px;
    border: 1px solid;
    border-radius: 15px;
    
}
.reset-btn{
    position: relative;
    
    width: 15vw;
    min-width: 100px;
    font-size: 28px;
}

.board{
    position: relative;
    top: 10vh;
    display:grid;
    height: 35vh;
    width: 25vw;
    left: 35%;
    min-width: 200px;
    grid-template-columns: repeat(3,1fr);
    
}
.board-container{
    width: 100%;
    height: calc(100% - 85px);
    border: 2px solid;
    
}

.board :hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.336);
    box-shadow: black;
    -webkit-box-shadow: -2px -1px 6px 0px rgba(48, 50, 50, 0.8);
    -moz-box-shadow:    -2px -1px 6px 0px rgba(48, 50, 50, 0.8);
    box-shadow:         -2px -1px 6px 0px rgba(48, 50, 50, 0.8);
}

.box-left{
    border-right: 2px solid;
    border-bottom: 2px solid;
    background-color: wheat;
}

.box{
    background-color: wheat;
    border-bottom: 2px solid;
}

.box-right{
    background-color: wheat;
    border-left: 2px solid;
    border-bottom: 2px solid;
}



#last-left{
     border-bottom: none;
}
#last-bottom{
    border-bottom: none;
}
#last-right{
    border-bottom: none;
}




.container{
    position: relative;
    top: 3vh;
    width: 90vw;
    height: 75vh;
    left: 5vw;
    min-width: 320px;
    background-color: wheat;
    box-sizing: border-box;
    border-radius: 15px;
}























 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 40%;
    width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .settings-buttons{
      
      height: 100%;
      width: 100%;
      
      
      
  }
  .btn{
      font-size: 35px;
      height: 50px;
      position: relative;
      top: 20px;
      width: 100%;

  }


  #player-versus-player{

  }
  #player-versus-computer{
    position: relative;
    top: 40px;
  }

  #choice-box-player{
    position: relative;
    top: 20px;
    padding: 5px;
    border: 1px solid black;
    height: 90px;
    width: 100%;
  }
  #choice-box-computer{
    position: relative;
    top: 40px;
    padding: 5px;
    border: 1px solid black;
    height: 90px;
    width: 100%;
  }
  












